* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./c\ \(1\).png);
    background-size: cover;
    /* background-attachment: fixed; */
}

.f1 {
    background-color: yellow;
    border-radius: 25px;
    text-align: center;
    color: rgb(17, 17, 17);
    margin-top: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(7, 6, 6);
    width: 65%;
    font-weight: bolder;
}


.box {
    margin: auto;
    margin-top: 25vh;
    margin-right: 20vh;
    width: 50%;
    border: 8px solid rgb(13, 13, 13);
    padding: 20px;
    /* text-align: center; */
    position: relative;
    border-radius: 15px;

}

#iname {
    color: rgb(14, 13, 13);
    font-weight: bold;
}

#iEmail {
    color: #0c0b0b;
    font-weight: bold;
}

#inumber {
    color: rgb(15, 14, 14);
    font-weight: bold;
}


.btn {
    /* text-align: center; */
    border: 2px solid rgb(66, 64, 64);
    font-size: large;
    font-weight: bold;
    position: absolute;
    margin-left: 30vh;
    border-radius: 20px;
    padding: 8px;
}

.btn:hover {
    background-color: rgb(250, 71, 5);
    cursor: grab;
}